:root {
  /* Colors */
  --c-white: #fff;
  --c-black: #000;

  /* Fonts */
  --f-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  /* Defaults */
  --main-bg: var(--c-white);
  --default-transition-time: 0.3s;
  --default-transition: all var(--default-transition-time) ease;
}

/* Media variables */
@custom-media --3xl screen and (min-width: 1921px);
@custom-media --to-xxl screen and (max-width: 1920px);
@custom-media --from-xxl screen and (min-width: 1280px);
@custom-media --xxl screen and (width >= 1280px) and (width <= 1920px);
@custom-media --to-xl screen and (max-width: 1279px);
@custom-media --from-xl screen and (min-width: 1024px);
@custom-media --xl screen and (width >= 1024px) and (width <= 1279px);
@custom-media --to-2l screen and (max-width: 1023px);
@custom-media --from-2l screen and (min-width: 860px);
@custom-media --2l screen and (width >= 860px) and (width <= 1023px);
@custom-media --to-l screen and (max-width: 859px);
@custom-media --from-l screen and (min-width: 768px);
@custom-media --l screen and (width >= 768px) and (width <= 859px);
@custom-media --to-m screen and (max-width: 767px);
@custom-media --from-lm screen and (min-width: 600px);
@custom-media --lm screen and (width >= 600px) and (width <= 767px);
@custom-media --to-sm screen and (max-width: 600px);
@custom-media --sm screen and (width >= 480px) and (width <= 600px);
@custom-media --from-m screen and (min-width: 480px);
@custom-media --m screen and (width >= 480px) and (width <= 768px);
@custom-media --to-s screen and (max-width: 479px);
@custom-media --from-s screen and (min-width: 321px);
@custom-media --s screen and (width >= 321px) and (width <= 479px);
@custom-media --xs screen and (max-width: 320px);
@custom-media --retina2x screen and (min-resolution: 120dpi), screen and (min-resolution: 1.25dppx);
