.clearfix {
  clear: fix;
}

.container {
  display: block;
  width: auto;
  max-width: $container-width;
  padding-left: $container-gutter;
  padding-right: $container-gutter;
  margin-left: auto;
  margin-right: auto;
  clear: fix;
}

.row {
  display: block;
  margin-left: -$col-gutter;
  margin-right: -$col-gutter;
}

.col {
  display: block;
  padding-right: $col-gutter;
  padding-left: $col-gutter;
}
