{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-param-reassign": [
      "warn",
      {
        "props": true
      }
    ],
    "no-unused-vars": "warn"
  }
}
