{
  "extends": [
    "stylelint-config-standard"
  ],
  "defaultSeverity": "warning",
  "rules": {
    "at-rule-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,
    "max-nesting-depth": [
      4,
      {
        "ignore": [
          "blockless-at-rules"
        ]
      }
    ],
    "selector-max-compound-selectors": 4,
    "selector-max-specificity": "1,4,1",
    "declaration-no-important": true,
    "selector-no-universal": true,
    "max-line-length": 120,
    "no-eol-whitespace": null
  },
  "ignoreFiles": [
    "node_modules",
    "src/scss/sprite.scss",
    "src/postcss/sprite.css"
  ]
}