/* ==========================================================================
   Base styles
   ========================================================================== */
/* stylelint-disable selector-max-universal  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* stylelint-enable selector-max-universal */

html {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--main-text-color);
  overflow-wrap: break-word;
  word-wrap: break-word;
}

body {
  background: var(--main-bg);
}

audio,
canvas,
iframe,
img,
svg,
video,
object,
input,
textarea {
  vertical-align: middle;
  max-width: 100%;
}

img {
  height: auto;
}

textarea {
  resize: vertical;
}

button,
input[type="submit"] {
  cursor: pointer;
}
